@model SuperStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}
@*data source is the Products property of model data*@
@foreach (var p in Model.Products)
{
    <div>
        <h3>@p.Name</h3>
        <p>@p.Description</p>
        <h4>@p.Price.ToString("c")</h4>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Product", new { page = x}))
</div>

