@model SuperStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}
@*data source is the Products property of model data*@
@foreach (var p in Model.Products)
{
    @Html.Partial("ProductSummary", p)
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Product", new { page = x }))
</div>

